# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# node.js
**/node_modules/
**/.next/
**/out/
**/.turbo/
**/.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env (for security) ***
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.*
!**/.env.example

# testing & artifacts
**/coverage/
**/reports/
**/dist/
**/build/

# .net
**/bin/
**/obj/
*.user
*.suo

# docker compose
postgres_data/
docker-compose.override.yml
*.envrc
logs/
**/*.log
*.log

# misc
*.swp
*.swo
