.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f7fa;
}

.main-content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* Sidebar genişliği (250px) kadar soldan boşluk bırakıyoruz */
  margin-left: 250px; 
}

.main-content {
  flex-grow: 1;
  /* Üst, sağ, alt, sol sırasıyla padding */
  /* Üste ve sola yapışmasını engeller */
  padding: 2rem;
  overflow-y: auto;
}